#buying-guide section {
  box-sizing: border-box;
  padding: 40px 60px 20px;
}

#buying-guide section h3 {
  font-size: 24px;
  margin-bottom: 12px;
}

#buying-guide section p,
#buying-guide section > ul > li {
  font-size: 16px;
  line-height: 22px;
  margin-bottom: 8px;
}
