#buying-guide section {
  padding: 20px 60px;
}

#buying-guide section h3 {
  font-size: 24px;
  margin-bottom: 12px;
}

#buying-guide section p,
#buying-guide section > ul > li {
  font-size: 16px;
  line-height: 18px;
  margin-bottom: 8px;
}

#buying-guide section ul {
}
