#hero2 {
  height: 100vh;
  background: url("../img/hero2@1200x800.webp");
  background-size: cover;
  background-position: center;
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
}

#hero2 h1.centred {
  font-size: 36px;
  color: #153250;
}
