ul.product-images {
  position: absolute;
  right: 15%;
  top: 50%;
  transform: translate(50%, -50%);
}
@media (max-width: 900px) {
  ul.product-images {
    position: static;
    transform: none;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    max-width: 400px;
    padding: 20px 0;
    margin: auto;
  }
}

ul.product-images li {
  width: 146px;
  height: 100%;
  margin: 12px;
  cursor: pointer;
}
@media (max-width: 900px) {
  ul.product-images li {
    width: 100%;
    max-width: calc((100% - 24px) / 3);
    margin: 0 0 0 12px;
  }
  ul.product-images li:first-child {
    margin: 0;
  }
}

ul.product-images li img {
  width: 100%;
  min-height: 100%;
}
