body.scrolling-disabled {
  overflow: hidden;
}

canvas {
  position: absolute;
  top: 0;
}

section {
  position: relative;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  height: 100vh;
  padding: 70px 40px;
}

@media (max-width: 900px) {
  section {
    /* min-height: 100vh; */
    height: auto;
    padding: 70px 40px;
  }
}

@media (max-width: 600px) {
  section {
    padding: 50px 30px;
  }
}

#intermediate-reed,
#student-reed {
  border-bottom: 10px solid #f5f5f7;
}

section div.product {
  position: absolute;
  left: 15%;
  top: 50%;
  transform: translatey(-50%);
  max-width: 400px;
  padding: 0 20px;
}
@media (max-width: 1200px) {
  section div.product {
    left: 60px;
  }
}
@media (max-width: 900px) {
  section div.product {
    position: relative;
    margin: auto;
    top: 0;
    left: 0;
    transform: none;
    padding: 0;
  }
}

section div.product h2 {
  font-size: 32px;
  margin-bottom: 20px;
}

section div.product span.price {
  display: block;
  font-size: 18px;
  font-weight: 500;
  line-height: 32px;
  margin-top: 8px;
  box-sizing: border-box;
  text-align: left;
}

section div.product p {
  font-size: 16px;
  line-height: 22px;
}

section div.product > ul > li {
  font-size: 16px;
  line-height: 22px;
  margin-top: 10px;
}

section div.product > ul {
  padding: 12px 0px;
}

section div.product button.buy {
  position: relative;
  font-size: 16px;
  font-weight: bold;
  padding: 0 36px;
  min-width: 242px;
  line-height: 39px;
  margin-top: 8px;
  background: #222323;
  border: none;
  border-radius: 5px;
  color: white;
}

@media (max-width: 400px) {
  section div.product button.buy {
    width: 100%;
  }
}

section div.product button.buy svg {
  position: absolute;
  right: 14px;
  height: 39px;
  fill: white;
  transition: transform ease 400ms;
}

section div.product button.buy:hover {
  background: #595a5a;
}

section div.product button.buy:hover svg {
  transform: translatex(4px);
}
