main.scroll-navigation > aside {
  position: fixed;
  top: 50vh;
  left: 10px;
  transform: translateY(-50%);

  li {
    position: relative;
    display: flex;
    align-items: center;
    list-style: none;
    margin-top: 4px;
    cursor: pointer;

    &::before {
      content: ("");
      position: absolute;
      left: 1px;
      top: 50%;
      transform: translateY(-50%);
      height: 80%;
      width: 1px;
      background: $grey;
      opacity: 0.5;
    }

    span {
      padding: 10px;
      opacity: 0;
      transition: all ease-out 100ms;
      color: $grey;
    }
  }

  li.active {
    &::before {
      left: 0;
      width: 3px;
      height: calc(80% + 2px);
      opacity: 1;
    }
  }

  li:hover {
    span {
      opacity: 1;
    }
  }
}

section.hero {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background-color: $white;

  h1 {
    font-size: 36px;
    font-weight: 700;
    color: $navy;
  }

  button {
    margin-top: 16px;
  }
}

section.product {
  > div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    max-width: 540px;
    height: 100vh;
    padding: 40px;

    &.left {
      align-items: flex-start;
      margin-right: auto;
    }

    &.right {
      align-items: flex-end;
      margin-left: auto;
    }

    h2 {
      font-size: 24px;
      font-weight: 700;
    }

    button {
      margin-top: 16px;
    }
  }
}
