@import "./ScrollNavigation/style.scss";

section.hero {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background-color: $white;

  h1 {
    font-size: 36px;
    font-weight: 700;
    color: $navy;
  }

  button {
    margin-top: 16px;
  }
}

section.product {
  > div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    box-sizing: border-box;
    max-width: 600px;
    height: 100vh;
    padding: 160px;

    @media (max-width: 1000px) {
      padding: 24px;
    }

    &.left {
      align-items: flex-start;
      margin-right: auto;
      padding-right: 0;
    }

    &.right {
      align-items: flex-end;
      margin-left: auto;
      padding-left: 0;
    }

    > h2 {
      font-size: 24px;
      font-weight: 700;
    }

    > p {
      margin: 8px 0;
    }

    > button {
      margin-top: 16px;
    }
  }
}

section.bio {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100vh;
  background-color: $white;
  padding: 160px;

  @media (max-width: 1000px) {
    padding: 24px;
  }

  h1 {
    font-size: 36px;
    font-weight: 700;
    color: $navy;
  }

  p {
    margin-top: 15px;
  }
}
