@import "./Cart/style.scss";
@import "./products/style.scss";

#hero {
  position: relative;
  height: 100vh;
  // height: calc(var(--vh, 1vh) * 100);
  background: transparent;
  background: skyblue;

  h1.centred {
   position: absolute;
   top: 50%;
   left: 50%;
   transform: translate(-50%, -50%);
   font-size: 36px;
   color: #153250;
   white-space: nowrap;
 }

 // Source: https://keithclark.co.uk/articles/pure-css-parallax-websites/
 .parallax__layer--back {
   position: absolute;
   top: 0;
   right: 0;
   bottom: 0;
   left: 0;
   transform: translate3d(0px, 0, -200px) scale(1.66667);
   transform-style: preserve-3d;
   overflow: hidden;

   > img {
     min-width: 100%;
     min-height: 100%;

   }
 }

 > .scroll-prompt {
   position: absolute;
   display: flex;
   flex-direction: column;
   cursor: pointer;
   left: 50%;
   top: calc(var(--vhExplore, 1vh) * 100 - 40px);
   transform: translate(-50%, -100%);
   opacity: 1;

   &.hide {
     animation: fadeout normal forwards 700ms ease-out;
   }

   @keyframes fadeout {
     0% {
       opacity: 1;
     }
     99% {
       opacity: 0;
     }
     100% {
       display: none;
       opacity: 0;
     }
   }

   > img {
     margin-top: 2px;
     animation: alternate both bounce 700ms infinite ease-in-out;

     @keyframes bounce {
       from {
         transform: translateY(0);
       }
       to {
         transform: translateY(6px);
       }
     }
   }
 }
}
