@import "./ScrollNavigation/style.scss";
@import "./Hero/style.scss";
@import "./TheOboe/style.scss";

section.product {
  // background: rgba(cyan, 0.1);
  > div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    box-sizing: border-box;
    max-width: 600px;
    height: 100vh;
    padding: 160px;

    @media (max-width: 1000px) {
      max-width: 460px;
      padding: 24px;
    }

    @media (max-width: 500px) {
      width: 100vw;
    }

    &.left {
      align-items: flex-start;
      margin-right: auto;
      padding-right: 0;
      @media (max-width: 500px) {
        padding-right: 24px;
      }
    }

    &.right {
      align-items: flex-end;
      margin-left: auto;
      padding-left: 0;
      @media (max-width: 500px) {
        padding-left: 24px;
      }
    }

    > h2 {
      font-size: 24px;
      font-weight: 700;
    }

    > p {
      margin: 8px 0;
    }

    > button {
      margin-top: 16px;
    }
  }
}

section.the-oboe {
  width: 100vw;
}

section.bio {
  display: flex;
  flex-direction: column;
  justify-content: center;
  box-sizing: border-box;
  height: 100vh;
  padding: 160px;

  @media (max-width: 1000px) {
    padding: 24px;
  }

  h1 {
    font-size: 36px;
    font-weight: 700;
    color: $navy;
  }

  p {
    margin-top: 15px;
  }
}
