@import "./home/style.scss";

header {
  position: fixed;
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-sizing: border-box;
  background: rgba(green, 0.2);
  height: 80px;
  width: 100%;
  padding: 8px 16px;
}
