// old
$grey: #3a3937;
$black: #000000;

$white: #f6f6f9;

body.scrolling-disabled {
  overflow: hidden;
}

h1 {
  font-size: 68px;
  line-height: 90%;
  margin-bottom: 10px;
}
h2 {
  font-size: 34px;
}
h3 {
  font-size: 24px;
}
p {
  font-size: 16px;
  line-height: 22px;
  margin: 10px 0;
}

section,
#header,
#footer {
  max-width: 1460px;
  margin: auto;
}

.gutters {
  padding: 0 20px;
  max-width: 1000px;
  margin: auto;
  @media (min-width: 400px) {
    padding: 0 40px;
  }
  @media (min-width: 768px) {
    padding: 0 60px;
  }
}

.left-right-wrapper {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;

  @media (min-width: 768px) {
    flex-direction: row;
    > * {
      width: calc((100% / 2) - 20px);
    }
    > *:last-child {
      margin-left: 40px;
    }
  }
}


#app {

  &.scrolling-disabled {
    overflow: hidden;

    > * {
      filter: blur(5px);
    }

    & > #modal-wrapper,
    & > aside
     {
      filter: none
    }
  }

  &.cart-active aside.cart {
    transform: translatex(0%);
  }

  .overlay {
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
  }
}

@import "./Header/style.scss";
@import "./Home/style.scss";
@import "./ReedInformation/style.scss";
@import "./Thankyou/style.scss";
@import "./Footer/style.scss";
